@font-face {
  font-family: starjedi;
  src: url(/src/Starjedi.ttf);
}
body {
  font-family:'starjedi'!important;
  margin: 0;
 
  background-color: black !important;
  overflow: hidden !important;
}
@media screen and (max-width:1400px) {
  body{
    overflow-y:auto !important;
  }
  .card{
    width: 20rem !important;
    
  }
}



