@font-face {
  font-family: starjedi;
  src: url(/src/Starjedi.ttf);
}
body {
  font-family:'starjedi'!important;
  margin: 0;
 
  background-color: black !important;
  overflow: hidden !important;
}




